.card {
    width: 100%;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 22px;
}

.body-logo {
    width: 52%;
    min-height: 196px;
}

.body-text {
    color: #FBC02D;
    font-size: 40px;
    margin-top: 4px;
}

button {
    padding: 10px 40px;
    background-color: #272B33;
    color: #272B33;
    background-color: #fff;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
/* .cards-holder{
    width: 100%;
display: flex;
justify-content: center;
} */

.images-container {
    width: 100%;
    position: relative;
    margin: 50px 0px;
}

#imagesBox{
    width: 85%;
    gap: 38px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    transform: translateX(14%);
}
