.nav-logo {
    width: 70px;
    height: 54px;
}

nav {
    height: 3%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 5px 20px;
}

.nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 21px;
    color: #616161;
    font-weight: 700;
}

.a-button {
    background-color: #FBC02D;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: #FEF1DB;
    border-radius: 7px;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 15px;
}